:root{
    --red: #EA5E5E;
    --yellow: #F7BA3E;
    --blue: #56B3B4;
    --purple: #BF85BF;
    --background: #1A2B34;
    --gray: #334651;
    --unit: 10px;
    --container-width: 650px;
}

body{
    background-color: var(--background);
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
}

.container{
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    gap: var(--unit);
    overflow: hidden;
}

.container:hover{
    cursor:pointer;
}

.row{
    height: var(--unit);
    display: flex;
    justify-content: center;
    gap: var(--unit);
    translate: var(--offset);
} 

:not(.duplicate) > .row{
    animation: load-row 1s calc(var(--delay) * 100ms) forwards;
}

.container.no-load:not(.slide) .row{
    animation: none;
    translate: 0;
}

.cell{
    height: 100%;
    width: calc(var(--size, 2) * var(--unit));
    background-color: var(--gray);
    border-radius: 100px;
}

.cell.blue{ background-color: var(--blue); }
.cell.red{ background-color: var(--red); }
.cell.yellow{ background-color: var(--yellow); }
.cell.purple{ background-color: var(--purple);}

.cell.size-2{ --size:2; }
.cell.size-3{ --size:3; }
.cell.size-4{ --size:4; }
.cell.size-5{ --size:5; }
.cell.size-6{ --size:6; }
.cell.size-7{ --size:7; }
.cell.size-8{ --size:8; }
.cell.size-9{ --size:9; }
.cell.size-10{ --size:10; }
.cell.size-12{ --size:12; }
.cell.size-14{ --size:14; }
.cell.size-16{ --size:16; }
.cell.size-18{ --size:18; }
.cell.size-20{ --size:20; }
